---
---

@import "{{ site.theme }}";

.content-border {
  color: #b5e853;
  border: 1px dashed #b5e853;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
}

.content-border p {
  padding: 2px 50px;
  margin: 10px auto;
}

.img-white-bg-card {
  border-radius: 10px;
  background-color: white;
  margin: 10px 10px 0px 0px;
  padding: 5px;
  width: 90%;
  height: auto;
  max-height: 300px;
  box-shadow: 0 2px 10px 5px #b5e853, 0 8px 22px 0 #b5e853;
}

.eq {
  background-color: #37393d;
  border: 1px solid #b5e853;
  border-radius: 5px;
  padding: 4px 6px;
}
li {
  margin: 10px 0;
}
